
## <summary>policy for evrmore</summary>


########################################
## <summary>
##	Transition to evrmore.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`evrmore_domtrans',`
	gen_require(`
		type evrmore_t, evrmore_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, evrmore_exec_t, evrmore_t)
')


########################################
## <summary>
##	Execute evrmore server in the evrmore domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`evrmore_initrc_domtrans',`
	gen_require(`
		type evrmore_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, evrmore_initrc_exec_t)
')


########################################
## <summary>
##	Search evrmore lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`evrmore_search_lib',`
	gen_require(`
		type evrmore_var_lib_t;
	')

	allow $1 evrmore_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read evrmore lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`evrmore_read_lib_files',`
	gen_require(`
		type evrmore_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, evrmore_var_lib_t, evrmore_var_lib_t)
')

########################################
## <summary>
##	Manage evrmore lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`evrmore_manage_lib_files',`
	gen_require(`
		type evrmore_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, evrmore_var_lib_t, evrmore_var_lib_t)
')

########################################
## <summary>
##	Manage evrmore lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`evrmore_manage_lib_dirs',`
	gen_require(`
		type evrmore_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, evrmore_var_lib_t, evrmore_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a evrmore environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`evrmore_admin',`
	gen_require(`
		type evrmore_t;
		type evrmore_initrc_exec_t;
		type evrmore_var_lib_t;
	')

	allow $1 evrmore_t:process { ptrace signal_perms };
	ps_process_pattern($1, evrmore_t)

	evrmore_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 evrmore_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, evrmore_var_lib_t)

')

